<p class="title">Introduction</p>

<div class="description-box">
    <div class="description-image">
        <img src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/cf435b3b-87cc-49fe-9aa6-660f3dd48d63" alt="">
    </div>
    <div>
        <p class="description">
            Greetings! I hold a Bachelor's degree in Computer Science and am currently pursuing a postgraduate program in Software Architecture at FIAP. <br> 
            As a Software Engineer, I find joy in dive in world of technology, with a focus on systems design and architecture principles and practices. <br>
            I can say that I'm part of the group that turns coffee into code! <br>
            I have experience in building and maintaining systems using diverse architectural approaches such as monolith, modular monolith, and microservices. <br>
            I also use on my daily bases practices like TDD and BDD. <br>
            I am a person who really enjoys learning new things, spending time on personal projects and improving my level by seeking excellence.<br>
            My focus nowadays is to improve my levels in TDD, BDD, SOLID principle, kubernetes, CI-CD and serverless. <br>
            I also enjoy sharing insights and experiences through my writing. <br>
            You can check here:
        </p>
        
        <ul>
            <li> Medium: https://medium.com/raffaeleloi </li>
            <li> Dev.to: https://dev.to/raffaeleloi</li>
        </ul>
    </div>
</div>

<!-- <mat-grid-list cols="2" rowHeight="1:1" style="max-width: 100%;">
    <mat-grid-tile>
        <img src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/cf435b3b-87cc-49fe-9aa6-660f3dd48d63" alt="">
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div>Greetings! I hold a Bachelor's degree in Computer Science and am currently pursuing a postgraduate program in Software Architecture at FIAP. <br> 
            As a Software Engineer, I find joy in dive in world of technology, with a focus on systems design and architecture principles and practices. <br>
            I can say that I'm part of the group that turns coffee into code! <br>
            I have experience in building and maintaining systems using diverse architectural approaches such as monolith, modular monolith, and microservices. <br>
            I also use on my daily bases practices like TDD and BDD. <br>
            I am a person who really enjoys learning new things, spending time on personal projects and improving my level by seeking excellence.<br>
            My focus nowadays is to improve my levels in TDD, BDD, SOLID principle, kubernetes, CI-CD and serverless. <br>
            I also enjoy sharing insights and experiences through my writing. <br>
            You can check here:
    
            <ul>
                <li> Medium: https://medium.com/raffaeleloi </li>
                <li> Dev.to: https://dev.to/raffaeleloi</li>
            </ul></div>
    </mat-grid-tile>
  </mat-grid-list> -->