<h3>Backend</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of backendSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Frontend</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of frontendSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Testing</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of frontendSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>