<h3>Backend</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of backendSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Frontend</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of frontendSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Testing</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of testingSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Database</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of databaseSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>DevOps</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of devopsSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>

<h3>Architecture</h3>

<mat-chip-set
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  @for (hardSkill of architectureSkills; track hardSkill) {
    <mat-chip cdkDrag>{{ hardSkill.name }}</mat-chip>
  }
</mat-chip-set>