<h5 class="work-experience-title">Work experiences</h5>

<mat-accordion *ngFor="let workExperience of workExperiences">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ workExperience.companyName }}
            </mat-panel-title>
            <mat-panel-description>
                {{ workExperience.position }}
            </mat-panel-description>
            <mat-panel-description>
                {{ getExperiencePeriod(workExperience) }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let activity of workExperience.activitiesDescription">
                {{ activity }}
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>