<p class="title">Off topic</p>

<div class="off-topic-box">
    <div class="off-topic-img">
        <div class="off-topic-img-item">
            <div class="off-topic-img-item-box">
                <img class="image-item" src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/865bb452-9421-4811-864e-ef0c937cc9b3" alt="">
            </div>
            <div class="off-topic-img-item-box">
                <img class="image-item" src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/21734faf-a010-4349-a3a8-cda4a9c59e33" alt="">
            </div>
        </div>
        <div class="off-topic-img-item">
            <div class="off-topic-img-item-box">
                <img class="image-item" src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/f7d6a565-4de7-4091-8f50-6210b36bf78c" alt="">
            </div>
            <div class="off-topic-img-item-box">
                <img class="image-item" src="https://github.com/Raffael-Eloi/portifolio/assets/51720161/cbfb54af-03c3-4111-91cd-f873a77e9f89" alt="">
            </div>
        </div>
    </div>
    <div class="off-topic-description">
        Outside of my professional life, I'm passionate about staying active and maintaining a healthy lifestyle. You'll often find me at the gym, where I enjoy pushing my limits and staying disciplined in my workouts. Running is another favorite pastime that helps me stay fit and clear my mind. <br>

        Football is a sport I love to watch. However, my true sporting passion at the moment is mixed martial arts (MMA). I enjoy diving deep into the sport, learning about different fighters, techniques, and the latest news. <br>

        Beyond sports, I'm a positive person who believes in spreading good energy wherever I go. I thrive on bringing a positive atmosphere to any situation and love connecting with others who share this outlook on life.
    </div>
</div>